<main>
    <form method="post" 
    style="display: grid; grid-template-columns:repeat(2, 1fr); gap: 2em; max-width: 500px; margin: 0 auto;">
        {{#if error}}
            <p style="color: red; text-align:center; margin-bottom: 1em; grid-column: span 2;"> 
                wrong password! try again later...
            </p>
        {{/if}}
        <label for="password">password</label>
        <input type="password" name="password">
        <input type="submit" value="Download" style="grid-column: span 2;">
    </form>
</main>